<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <title>
        Help
    </title>
    <body>
        <div class="main-container">
            {{>header}}

            <p>{{helpText}}</p>
        </div>
        {{>footer}}
    </body>
</html>